<!-- Validation failure messages -->
<% if @race.errors.any? %>
  <% @race.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Race</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_race" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for state_id -->
      <div class="form-group">
        <label for="state_id" class="control-label">
          State
        </label>

        <input type="text" id="state_id" name="state_id" placeholder="State" class="form-control" value="<%= @race.state_id %>">
      </div>

      <!-- Label and input for id -->
      <div class="form-group">
        <label for="id" class="control-label">
          Id
        </label>

        <input type="text" id="id" name="id" placeholder="Id" class="form-control" value="<%= @race.id %>">
      </div>

      <!-- Label and input for city -->
      <div class="form-group">
        <label for="city" class="control-label">
          City
        </label>

        <input type="text" id="city" name="city" placeholder="City" class="form-control" value="<%= @race.city %>">
      </div>

      <!-- Label and input for state -->
      <div class="form-group">
        <label for="state" class="control-label">
          State
        </label>

        <input type="text" id="state" name="state" placeholder="State" class="form-control" value="<%= @race.state %>">
      </div>

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>

        <input type="text" id="date" name="date" placeholder="Date" class="form-control" value="<%= @race.date %>">
      </div>

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @race.name %>">
      </div>

      <button class="btn btn-success">
        Create Race
      </button>
      or
      <a href="/races">Cancel</a>
    </form>
  </div>
</div>
