<div class="page-header">
  <h3><%= @race.name %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Race</dt>
      <dd><%= @race.name %></dd>

      <dt>Date</dt>
      <dd><%= @race.date.strftime(" %m/%d/%Y") %></dd>

      <dt>City</dt>
      <dd><%= @race.city %></dd>

      <dt>State</dt>
      <dd><%= @race.state.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/races" class="btn btn-primary">
        Back
      </a>
      <a href="/races/<%= @race.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_race/<%= @race.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
