<div class="page-header">
  <h3><%= @state.name %> Half Marathons</h3>
</div>

<div class="row">


    <% @state.races.each do |race| %>
    <div class="col-md-4">
    <dl class="dl-horizontal">
      <dt>Race:</dt>
      <dd><%= race.name %></dd>

      <dt>Date:</dt>
      <dd><%= race.date %></dd>

      <% race.race_results.each do |result| %>
      <dt>Runner:</dt>
      <dd><%= Runner.find(result.runner_id).name %></dd>

      <dt>Finish Time:</dt>
      <dd><%= Time.at(result.time).utc.strftime("%H:%M:%S") %></dd>

      <dt>PR:</dt>
      <dd><%= result.pr %></dd>

      <dt>Summary:</dt>
      <dd><%= result.summary %></dd>
      <% end %>

      <% race.photos.each do |photo| %>
      <dt>Photos:</dt>
      <dd> <img src="<%= photo.photo_url %>" width= "40%"></dd>

      <% end %>
    </dl>
    </div>
    <% end %>

    <div class="btn-group btn-group-justified">
      <a href="/states" class="btn btn-primary">
        Back
      </a>
      <a href="/states/<%= @state.id %>/edit" class="btn btn-warning"<%  %>warning">
        Edit
      </a>
      <a href="/delete_state/<%= @state.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
