<div class="page-header">
  <h3>Race Result #<%= @race_result.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Summary</dt>
      <dd><%= @race_result.summary %></dd>

      <dt>Pr</dt>
      <dd><%= @race_result.pr %></dd>

      <dt>Time</dt>
      <dd><%= @race_result.time %></dd>

      <dt>Race</dt>
      <dd><%= @race_result.race_id %></dd>

      <dt>Runner</dt>
      <dd><%= @race_result.runner_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/race_results" class="btn btn-primary">
        Back
      </a>
      <a href="/race_results/<%= @race_result.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_race_result/<%= @race_result.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
